In [1]:
#tabular data imports :
import pandas as pd
import numpy as np
import env
from env import user, password, host

# visualization imports:
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")
import wrangle as w
import os
directory = os.getcwd()

### Exercises I

#### Let's review the steps we take at the beginning of each new module.

1. Create a new repository named regression-exercises in your GitHub; all of your Regression work will be housed here.
2. Clone this repository within your local codeup-data-science directory.
3. Create a .gitignore and make sure your list of 'files to ignore' includes your env.py file.
4. Ceate a README.md file that outlines the contents and purpose of your repository.
5. Add, commit, and push these two files.
6. Now you can add your env.py file to this repository to access the Codeup database server.
7. For these exercises, you will create wrangle.ipynb and wrangle.py files to hold necessary functions.
8. As always, add, commit, and push your work often.

## Exercises II

### Let's set up an example scenario as perspective for our regression exercises using the Zillow dataset.

#### As a Codeup data science graduate, you want to show off your skills to the Zillow data science team in hopes of getting an interview for a position you saw pop up on LinkedIn. You thought it might look impressive to build an end-to-end project in which you use some of their Kaggle data to predict property values using some of their available features; who knows, you might even do some feature engineering to blow them away. Your goal is to predict the values of single unit properties using the observations from 2017.

#### In these exercises, you will complete the first step toward the above goal: acquire and prepare the necessary Zillow data from the zillow database in the Codeup database server.

#### 1. Acquire `bedroomcnt`, `bathroomcnt`, `calculatedfinishedsquarefeet`, `taxvaluedollarcnt`, `yearbuilt`, `taxamount`, and `fips` from the zillow database for all 'Single Family Residential' properties.

In [2]:
df = w.new_zillow_data()
df.head()

,id,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,20,4.0,2.0,3633.0,222321.0,74104.0,296425.0,2005.0,6941.39,6037.0
1,31,3.0,4.0,1620.0,339532.0,508238.0,847770.0,2011.0,10244.94,6037.0
2,33,3.0,2.0,2077.0,210192.0,436568.0,646760.0,1926.0,7924.68,6037.0
3,62,0.0,0.0,1200.0,595.0,4733.0,5328.0,1972.0,91.60,6037.0
4,97,0.0,0.0,171.0,NaN,6920.0,6920.0,1973.0,255.17,6037.0

#### 2. Using your acquired Zillow data, walk through the summarization and cleaning steps in your `wrangle.ipynb` file like we did above. You may handle the missing values however you feel is appropriate and meaningful; remember to document your process and decisions using markdown and code commenting where helpful.

In [3]:
df.shape

(2141862, 10)

In [4]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2141862 entries, 0 to 2141861
Data columns (total 10 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   id                            2141862 non-null  int64
 1   bedroomcnt                    2141862 non-null  float64
 2   bathroomcnt                   2141862 non-null  float64
 3   calculatedfinishedsquarefeet  2141272 non-null  float64
 4   structuretaxvaluedollarcnt    2139241 non-null  float64
 5   landtaxvaluedollarcnt         2141743 non-null  float64
 6   taxvaluedollarcnt             2141745 non-null  float64
 7   yearbuilt                     2141862 non-null  float64
 8   taxamount                     2140184 non-null  float64
 9   fips                          2141862 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 163.4 MB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,2141862.0,1.490818e+06,860842.293641,20.00,745163.5000,1490479.50,2.235774e+06,2982282.00
bedroomcnt,2141862.0,3.300068e+00,0.934358,0.00,3.0000,3.00,4.000000e+00,25.00
bathroomcnt,2141862.0,2.239199e+00,0.991065,0.00,2.0000,2.00,3.000000e+00,32.00
calculatedfinishedsquarefeet,2141272.0,1.862731e+03,1221.494286,1.00,1257.0000,1623.00,2.208000e+03,952576.00
structuretaxvaluedollarcnt,2139241.0,1.778313e+05,254024.397814,1.00,74191.0000,122421.00,2.035950e+05,63662444.00
landtaxvaluedollarcnt,2141743.0,2.826783e+05,487995.299453,1.00,80065.0000,184063.00,3.451850e+05,77665102.00
taxvaluedollarcnt,2141745.0,4.603013e+05,677119.872164,1.00,188821.0000,328000.00,5.342970e+05,90188462.00
yearbuilt,2141862.0,1.960956e+03,22.158185,1801.00,1949.0000,1958.00,1.976000e+03,2016.00
taxamount,2140184.0,5.615601e+03,7814.875940,6.34,2540.1975,4110.86,6.410892e+03,1078101.87
fips,2141862.0,6.048303e+03,20.339323,6037.00,6037.0000,6037.00,6.059000e+03,6111.00

In [6]:
df.isnull().sum()

id                                 0
bedroomcnt                         0
bathroomcnt                        0
calculatedfinishedsquarefeet     590
structuretaxvaluedollarcnt      2621
landtaxvaluedollarcnt            119
taxvaluedollarcnt                117
yearbuilt                          0
taxamount                       1678
fips                               0
dtype: int64

In [7]:
df = df.dropna()

In [8]:
df.isnull().sum()

id                              0
bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
structuretaxvaluedollarcnt      0
landtaxvaluedollarcnt           0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2138437 entries, 0 to 2141861
Data columns (total 10 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id                            int64
 1   bedroomcnt                    float64
 2   bathroomcnt                   float64
 3   calculatedfinishedsquarefeet  float64
 4   structuretaxvaluedollarcnt    float64
 5   landtaxvaluedollarcnt         float64
 6   taxvaluedollarcnt             float64
 7   yearbuilt                     float64
 8   taxamount                     float64
 9   fips                          float64
dtypes: float64(9), int64(1)
memory usage: 179.5 MB

In [10]:
df.bathroomcnt.value_counts()

2.00     941988
3.00     422108
1.00     412039
2.50     142805
4.00      81840
1.50      31148
3.50      28451
5.00      28244
4.50      19471
6.00      10692
5.50       6196
7.00       4369
0.00       4148
8.00       1675
6.50       1328
9.00        702
7.50        382
10.00       321
11.00       145
8.50        108
12.00        73
9.50         50
13.00        39
14.00        25
15.00        17
0.50         16
10.50        14
16.00        12
18.00         8
20.00         6
17.00         4
1.75          3
12.50         3
11.50         3
19.50         1
14.50         1
32.00         1
19.00         1
Name: bathroomcnt, dtype: int64

In [11]:
df.bedroomcnt.value_counts()

3.0     962382
4.0     633219
2.0     333768
5.0     150555
6.0      25095
1.0      22789
7.0       4781
0.0       4267
8.0       1097
9.0        288
10.0       117
11.0        34
13.0        15
12.0        12
14.0         7
15.0         5
18.0         3
16.0         2
25.0         1
Name: bedroomcnt, dtype: int64

In [12]:
df.yearbuilt.nunique()

153

In [13]:
df.yearbuilt.max()

2016.0

In [14]:
df.yearbuilt.min()

1801.0

In [15]:
df.loc[:, 'yearbuilt'] = df.yearbuilt.astype(int)

In [16]:
df.head()

,id,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,20,4.0,2.0,3633.0,222321.0,74104.0,296425.0,2005,6941.39,6037.0
1,31,3.0,4.0,1620.0,339532.0,508238.0,847770.0,2011,10244.94,6037.0
2,33,3.0,2.0,2077.0,210192.0,436568.0,646760.0,1926,7924.68,6037.0
3,62,0.0,0.0,1200.0,595.0,4733.0,5328.0,1972,91.60,6037.0
5,99,0.0,0.0,203.0,7083.0,7083.0,14166.0,1960,163.79,6037.0

In [17]:
print(f'max tax value {df.taxvaluedollarcnt.max()}')
print(f' max square ft {df.calculatedfinishedsquarefeet.max()}')

max tax value 90188462.0
 max square ft 952576.0

In [18]:
df.loc[df['taxvaluedollarcnt'].idxmax()]

id                                735349.00
bedroomcnt                            11.00
bathroomcnt                           16.00
calculatedfinishedsquarefeet       52503.00
structuretaxvaluedollarcnt      63662444.00
landtaxvaluedollarcnt           26526018.00
taxvaluedollarcnt               90188462.00
yearbuilt                           1990.00
taxamount                        1078101.87
fips                                6037.00
Name: 528072, dtype: float64

In [19]:
df.taxvaluedollarcnt.min()

23.0

In [20]:
df.loc[df['taxvaluedollarcnt'].idxmin()]

id                              584853.00
bedroomcnt                           0.00
bathroomcnt                          0.00
calculatedfinishedsquarefeet       800.00
structuretaxvaluedollarcnt          10.00
landtaxvaluedollarcnt               13.00
taxvaluedollarcnt                   23.00
yearbuilt                         1985.00
taxamount                           99.24
fips                              6037.00
Name: 419905, dtype: float64

In [21]:
df.columns

Index(['id', 'bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'structuretaxvaluedollarcnt', 'landtaxvaluedollarcnt',
       'taxvaluedollarcnt', 'yearbuilt', 'taxamount', 'fips'],
      dtype='object')

In [22]:
cast_to_int = []

for col in df.columns:
    sum_of_discord = (df[col] != df[col].astype(int)).sum()
    if sum_of_discord > 0:
        print(f'{col} has data that is probably not interpretable as an int! It has {sum_of_discord / df.shape[0] * 100} percent mismatched values!')
    else:
        print(f'{col} is good to go for int casting!')
        cast_to_int.append(col)
    print('============')

id is good to go for int casting!
============
bedroomcnt is good to go for int casting!
============
bathroomcnt has data that is probably not interpretable as an int! It has 10.754583838569946 percent mismatched values!
============
calculatedfinishedsquarefeet is good to go for int casting!
============
structuretaxvaluedollarcnt is good to go for int casting!
============
landtaxvaluedollarcnt is good to go for int casting!
============
taxvaluedollarcnt is good to go for int casting!
============
yearbuilt is good to go for int casting!
============
taxamount has data that is probably not interpretable as an int! It has 98.66276163384752 percent mismatched values!
============
fips is good to go for int casting!
============

In [23]:
cast_to_int

['id',
 'bedroomcnt',
 'calculatedfinishedsquarefeet',
 'structuretaxvaluedollarcnt',
 'landtaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'yearbuilt',
 'fips']

In [24]:
for col in cast_to_int:
    df.loc[:,col] = df[col].astype(int)

In [25]:
# column names? we can probably clean these up a bit:
df.columns
df = df.rename(columns={
    'bedroomcnt': 'bedrooms',
    'bathroomcnt': 'bathrooms',
    'calculatedfinishedsquarefeet': 'sqft',
    'taxvaluedollarcnt': 'taxvalue',
    'fips': 'county'
})

In [26]:
df.county.value_counts()

6037    1423810
6059     551759
6111     162868
Name: county, dtype: int64

In [27]:
county_maps = {6037: 'LA',
6059: 'Orange',
6111: 'Ventura'
}

In [28]:
df['county'] = df.county.map(county_maps)

In [29]:
# columns to remove :

#### 3. Write a function to split your data into train, validate, and test.

In [30]:
train_val, test = train_test_split(df,
                                  random_state=1349,
                                  train_size=0.80)
train, validate = train_test_split(train_val,
                                  random_state=1349,
                                  train_size=.70)

#### 4. Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe with no missing values in your `wrangle.py file`. Name your final function `wrangle_zillow`.

In [31]:

df = w.prep_zillow(w.get_zillow_data())
df.head()

,id,bedrooms,bathrooms,sqft,tax_structure,tax_land,taxvalue,yearbuilt,taxamount,county
0,20,4,2.0,3633,222321.0,74104.0,296425,2005,6941.39,LA
1,31,3,4.0,1620,339532.0,508238.0,847770,2011,10244.94,LA
2,33,3,2.0,2077,210192.0,436568.0,646760,1926,7924.68,LA
3,62,0,0.0,1200,595.0,4733.0,5328,1972,91.60,LA
5,99,0,0.0,203,7083.0,7083.0,14166,1960,163.79,LA

### I decided to only call for single-family houses build before 2017 and that were 'assesmentyear' = 2016. As i understand it, if the property is not new, the property has been assesed by the government to pay a specific amount based on the property and structure. Therefore i can use taxamount fairly.