In [1]:
#tabular data imports :
import pandas as pd
import numpy as np
import env
from env import user, password, host

# visualization imports:
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")
import wrangle as w
import os
directory = os.getcwd()

### Exercises I

#### Let's review the steps we take at the beginning of each new module.

1. Create a new repository named regression-exercises in your GitHub; all of your Regression work will be housed here.
2. Clone this repository within your local codeup-data-science directory.
3. Create a .gitignore and make sure your list of 'files to ignore' includes your env.py file.
4. Ceate a README.md file that outlines the contents and purpose of your repository.
5. Add, commit, and push these two files.
6. Now you can add your env.py file to this repository to access the Codeup database server.
7. For these exercises, you will create wrangle.ipynb and wrangle.py files to hold necessary functions.
8. As always, add, commit, and push your work often.

## Exercises II

### Let's set up an example scenario as perspective for our regression exercises using the Zillow dataset.

#### As a Codeup data science graduate, you want to show off your skills to the Zillow data science team in hopes of getting an interview for a position you saw pop up on LinkedIn. You thought it might look impressive to build an end-to-end project in which you use some of their Kaggle data to predict property values using some of their available features; who knows, you might even do some feature engineering to blow them away. Your goal is to predict the values of single unit properties using the observations from 2017.

#### In these exercises, you will complete the first step toward the above goal: acquire and prepare the necessary Zillow data from the zillow database in the Codeup database server.

#### 1. Acquire `bedroomcnt`, `bathroomcnt`, `calculatedfinishedsquarefeet`, `taxvaluedollarcnt`, `yearbuilt`, `taxamount`, and `fips` from the zillow database for all 'Single Family Residential' properties.

In [2]:
df = w.new_zillow_data()
df.head()

,id,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,1,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,15,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,16,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,17,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,20,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

#### 2. Using your acquired Zillow data, walk through the summarization and cleaning steps in your `wrangle.ipynb` file like we did above. You may handle the missing values however you feel is appropriate and meaningful; remember to document your process and decisions using markdown and code commenting where helpful.

In [3]:
df.shape

(2152863, 8)

In [4]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 8 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   id                            2152863 non-null  int64
 1   bedroomcnt                    2152852 non-null  float64
 2   bathroomcnt                   2152852 non-null  float64
 3   calculatedfinishedsquarefeet  2144379 non-null  float64
 4   taxvaluedollarcnt             2152370 non-null  float64
 5   yearbuilt                     2143526 non-null  float64
 6   taxamount                     2148421 non-null  float64
 7   fips                          2152863 non-null  float64
dtypes: float64(7), int64(1)
memory usage: 131.4 MB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,2152863.0,1.490834e+06,860878.470977,1.00,745117.00,1490613.00,2235859.50,2982282.00
bedroomcnt,2152852.0,3.287196e+00,0.954754,0.00,3.00,3.00,4.00,25.00
bathroomcnt,2152852.0,2.230688e+00,0.999280,0.00,2.00,2.00,3.00,32.00
calculatedfinishedsquarefeet,2144379.0,1.862855e+03,1222.125124,1.00,1257.00,1623.00,2208.00,952576.00
taxvaluedollarcnt,2152370.0,4.618962e+05,699676.049600,1.00,188170.25,327671.00,534527.00,98428909.00
yearbuilt,2143526.0,1.960950e+03,22.162196,1801.00,1949.00,1958.00,1976.00,2016.00
taxamount,2148421.0,5.634866e+03,8178.910249,1.85,2534.98,4108.95,6414.32,1337755.86
fips,2152863.0,6.048377e+03,20.433292,6037.00,6037.00,6037.00,6059.00,6111.00

In [6]:
df.isnull().sum()

id                                 0
bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [7]:
df = df.dropna()

In [8]:
df.isnull().sum()

id                              0
bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140235 entries, 4 to 2152862
Data columns (total 8 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id                            int64
 1   bedroomcnt                    float64
 2   bathroomcnt                   float64
 3   calculatedfinishedsquarefeet  float64
 4   taxvaluedollarcnt             float64
 5   yearbuilt                     float64
 6   taxamount                     float64
 7   fips                          float64
dtypes: float64(7), int64(1)
memory usage: 147.0 MB

In [10]:
df.bathroomcnt.value_counts()

2.00     942463
3.00     422398
1.00     412582
2.50     142827
4.00      82039
1.50      31157
3.50      28464
5.00      28306
4.50      19474
6.00      10717
5.50       6201
7.00       4381
0.00       4274
8.00       1681
6.50       1330
9.00        707
7.50        382
10.00       322
11.00       145
8.50        108
12.00        73
9.50         50
13.00        39
14.00        25
15.00        17
0.50         16
10.50        14
16.00        12
18.00         8
20.00         6
17.00         4
1.75          3
12.50         3
11.50         3
19.50         1
14.50         1
32.00         1
19.00         1
Name: bathroomcnt, dtype: int64

In [11]:
df.bedroomcnt.value_counts()

3.0     962944
4.0     633608
2.0     334221
5.0     150671
6.0      25117
1.0      22895
7.0       4792
0.0       4397
8.0       1103
9.0        290
10.0       118
11.0        34
13.0        15
12.0        12
14.0         7
15.0         5
18.0         3
16.0         2
25.0         1
Name: bedroomcnt, dtype: int64

In [12]:
df.yearbuilt.nunique()

153

In [13]:
df.yearbuilt.max()

2016.0

In [14]:
df.yearbuilt.min()

1801.0

In [15]:
df.loc[:, 'yearbuilt'] = df.yearbuilt.astype(int)

In [16]:
df.head()

,id,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,20,4.0,2.0,3633.0,296425.0,2005,6941.39,6037.0
6,31,3.0,4.0,1620.0,847770.0,2011,10244.94,6037.0
7,33,3.0,2.0,2077.0,646760.0,1926,7924.68,6037.0
11,62,0.0,0.0,1200.0,5328.0,1972,91.60,6037.0
14,97,0.0,0.0,171.0,6920.0,1973,255.17,6037.0

In [17]:
print(f'max tax value {df.taxvaluedollarcnt.max()}')
print(f' max square ft {df.calculatedfinishedsquarefeet.max()}')

max tax value 90188462.0
 max square ft 952576.0

In [18]:
df.loc[df['taxvaluedollarcnt'].idxmax()]

id                                735349.00
bedroomcnt                            11.00
bathroomcnt                           16.00
calculatedfinishedsquarefeet       52503.00
taxvaluedollarcnt               90188462.00
yearbuilt                           1990.00
taxamount                        1078101.87
fips                                6037.00
Name: 530834, dtype: float64

In [19]:
df.taxvaluedollarcnt.min()

22.0

In [20]:
df.loc[df['taxvaluedollarcnt'].idxmin()]

id                              789818.00
bedroomcnt                           0.00
bathroomcnt                          0.00
calculatedfinishedsquarefeet        20.00
taxvaluedollarcnt                   22.00
yearbuilt                         2005.00
taxamount                           24.92
fips                              6037.00
Name: 570504, dtype: float64

In [21]:
df.columns

Index(['id', 'bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'taxvaluedollarcnt', 'yearbuilt', 'taxamount', 'fips'],
      dtype='object')

In [22]:
cast_to_int = []

for col in df.columns:
    sum_of_discord = (df[col] != df[col].astype(int)).sum()
    if sum_of_discord > 0:
        print(f'{col} has data that is probably not interpretable as an int! It has {sum_of_discord / df.shape[0] * 100} percent mismatched values!')
    else:
        print(f'{col} is good to go for int casting!')
        cast_to_int.append(col)
    print('============')

id is good to go for int casting!
============
bedroomcnt is good to go for int casting!
============
bathroomcnt has data that is probably not interpretable as an int! It has 10.748072057507702 percent mismatched values!
============
calculatedfinishedsquarefeet is good to go for int casting!
============
taxvaluedollarcnt is good to go for int casting!
============
yearbuilt is good to go for int casting!
============
taxamount has data that is probably not interpretable as an int! It has 98.66299728768102 percent mismatched values!
============
fips is good to go for int casting!
============

In [23]:
cast_to_int

['id',
 'bedroomcnt',
 'calculatedfinishedsquarefeet',
 'taxvaluedollarcnt',
 'yearbuilt',
 'fips']

In [24]:
for col in cast_to_int:
    df.loc[:,col] = df[col].astype(int)

In [25]:
# column names? we can probably clean these up a bit:
df.columns
df = df.rename(columns={
    'bedroomcnt': 'bedrooms',
    'bathroomcnt': 'bathrooms',
    'calculatedfinishedsquarefeet': 'sqft',
    'taxvaluedollarcnt': 'taxvalue',
    'fips': 'county'
})

In [26]:
df.county.value_counts()

6037    1425207
6059     552057
6111     162971
Name: county, dtype: int64

In [27]:
county_maps = {6037: 'LA',
6059: 'Orange',
6111: 'Ventura'
}

In [28]:
df['county'] = df.county.map(county_maps)

In [29]:
# columns to remove :

#### 3. Write a function to split your data into train, validate, and test.

train_val, test = train_test_split(df,
                                  random_state=1349,
                                  train_size=0.80)
train, validate = train_test_split(train_val,
                                  random_state=1349,
                                  train_size=.70)

#### 4. Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe with no missing values in your `wrangle.py file`. Name your final function `wrangle_zillow`.

In [32]:
df = w.prep_zillow(w.get_zillow_data())
df.head()

    id  bedrooms  bathrooms  sqft  taxvalue  yearbuilt  taxamount county
4   20         4        2.0  3633    296425       2005    6941.39     LA
6   31         3        4.0  1620    847770       2011   10244.94     LA
7   33         3        2.0  2077    646760       1926    7924.68     LA
11  62         0        0.0  1200      5328       1972      91.60     LA
14  97         0        0.0   171      6920       1973     255.17     LA